# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
sudo: required
os:
  - linux
julia:
  - 0.7
  - 1.0
notifications:
  email: false
addons:
  apt:
    packages:
      - python3
      - python3-pip
before_install:
  - sudo pip3 install numpy
  - sudo pip3 install Cython
  - sudo pip3 install pandas
  - sudo pip3 install tables
